<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header><h1>Accueil</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="a_propos">A propos</a></li>
            </ul>
        </nav>
        </header>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem sunt facilis doloribus optio assumenda quasi suscipit aliquid quo laudantium repudiandae nam commodi in velit ratione tenetur, omnis quaerat nihil inventore vel modi minima sequi voluptate vero sapiente? Placeat temporibus incidunt distinctio sapiente iusto, exercitationem nihil, qui ex nesciunt natus illum!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint, atque voluptas ratione, quas a harum nulla asperiores tempore necessitatibus pariatur aperiam maxime vitae id! Laboriosam sed dolorem sint reiciendis eius, vero voluptatem, quibusdam quis aperiam suscipit architecto explicabo saepe praesentium adipisci. Id quidem animi cumque tempora cupiditate, accusamus magnam porro nemo suscipit! Natus totam magnam veritatis accusantium nobis doloribus maiores unde minus soluta alias laborum eligendi dolore, architecto ipsum doloremque!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore nobis, voluptate, corrupti aliquam placeat autem consequuntur dicta sequi harum amet expedita, repellendus earum! Commodi architecto eius, et deleniti totam ipsum error voluptatem expedita nesciunt praesentium natus. Facilis, sed vero eaque eum, enim ad at quisquam architecto laboriosam magnam tenetur eligendi?</p>
</body>
</html>